@keyframes name {
  100% {stroke-dashoffset: 0;}
}
@keyframes letters {
  100% { top: 0; opacity: 1;}
}
@keyframes sphere1 {
  70% {transform: translate(70vw) scale(1.5);}
  100% {transform: translate(110vw) scale(1);}
}
@keyframes sphere_path1 {
  50% {stroke: var(--neon);}
  100% {transform: rotate(500deg); stroke: var(--main_light);}
}
@keyframes sphere2 {
  100% {transform: translate(-110vw, -10vh);}
}
@keyframes sphere_path2 {
  50% {stroke: var(--details);}
  100% {transform: rotate(-550deg); stroke: var(--main_light);}
}

.home .jello_title {
  position: relative;
  padding-left: 5%;
  padding-top: 12%;
}
.home .jello_title h1 span {
  position: relative;
  transition: 0.4s;
  top: -2rem;
  opacity: 0;
  animation: letters 1s ease-in-out both;
  text-shadow: 0 0 20px var(--details);
}
.home .jello_title h1 span:nth-child(2) {
  animation-delay: 0.1s;
}
.home .jello_title h1 span:nth-child(3) {
  animation-delay: 0.2s;
}
.home .jello_title h1 span:nth-child(4) {
  animation-delay: 0.3s;
}
.home .jello_title h1 span:nth-child(5) {
  animation-delay: 0.4s;
}
.home .jello_title h1 span:nth-child(6) {
  animation-delay: 0.5s;
}
.home .jello_title h1 span:nth-child(7) {
  animation-delay: 0.6s;
}
.home .jello_title h1 span:nth-child(8) {
  animation-delay: 0.7s;
}
.home .jello_title h1 span:nth-child(9) {
  animation-delay: 0.8s;
}
.home .jello_title h1 span:nth-child(10) {
  animation-delay: 0.9s;
}
.home .jello_title h1 span:nth-child(11) {
  animation-delay: 1s;
}
.home .jello_title h1 span:nth-child(12) {
  animation-delay: 1.1s;
}
.home .jello_title h1 span:hover {
  top: 0;
  opacity: 1;
}
.myName {
  display: inline-block;
  height: 9rem;
  width: auto;
  vertical-align: text-top;
}
.name_path {
  fill: transparent;
  stroke-width: 1px;
  stroke-dasharray: 550;
  stroke-dashoffset: 550;
  animation: name 3.5s ease-in-out forwards;
  transition: 0.5s;
}
.sphere {
  height: auto;
  position: absolute;
  z-index: -10;
  transition: .5s;
}
.sphere_path {
  stroke: var(--main_light);
  transform-origin: 50% 50%;
  fill: none;
}
.sphere1 {
  width: 10vw;
  left: -15%;
  top: 70%;
  -webkit-box-reflect: below 0px linear-gradient(transparent 60%, var(--main_dark));
  animation: sphere1 6s linear infinite both;
  animation-delay: 3s;
}
.sphere_path1 {
  animation: sphere_path1 6s linear infinite both;
  animation-delay: 3s;
  stroke-width: 2px;
}
.sphere2 {
  width: 7vw;
  top: 15%;
  left: 100%;
  animation: sphere2 5.5s linear infinite both;
  animation-delay: 3.5s;
  -webkit-box-reflect: below 0px linear-gradient(transparent 60%, var(--main_dark));
}
.sphere_path2 {
  stroke-width: 3px;
  animation: sphere_path2 5.5s linear infinite both;
  animation-delay: 3.5s;
}
@media (max-width: 500px) {
  .home .jello_title {
    padding-left: 0;
    padding-right: 5%;
    padding-top: 30%;
    text-align: right;
  }
  .home .jello_title p {
    font-size: 0.8rem;
    margin-top: 10px;
  }
  .home .button {
    margin-top: 40px;
  }
  .myName {
    height: 6rem;
  }
  .sphere1 {
    width: 15vw;
    top: 80%;
    left: -17%;
    animation-duration: 4s;
  }
  .sphere_path1 {
    animation-duration: 4s;
  }
  .sphere2 {
    width: 20vw;
    top: 20%;
    animation-duration: 3.5s;
  }
  .sphere_path2 {
    animation-duration: 3.5s;
  }
}